body{
  background-color: lightgray
}

h1{
  text-align: center;
}

#description{
  text-align: center;
}

.row{
  margin: 60px;
}

/* #video{
  position: relative;
} */

/* #videoTitle{
  position: absolute;
  text-align: center;
} */